@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "@assets/Font/font.css";

@theme {
  --color-bg-primary: #2b2b2b;
  --color-bg-secondary: #3b3b3b;
  --color-caption-label: #858584;
  --color-text: #fff;
  --color-action: #a259ff;
  --background-image-gradient1: linear-gradient(101deg, #a259ff 13.57%, #ff6250 97.65%);
  --background-image-gradient2: linear-gradient(128deg, #a259ff 49.75%, #377df7 136.56%);
  --background-image-gradient3: linear-gradient(
    180deg,
    rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%,
    rgb(162.00000554323196, 89.00000229477882, 255) 100%
  );

  --font-work-sans: "Work Sans", sans-serif;
  --font-space-mono: "Space Mono", spacemono;
}

body,
html {
  @apply bg-bg-primary text-text font-work-sans m-0;
}

h1 {
  @apply lg:text-6xl sm:text-5xl text-3xl font-[600];
}

h2 {
  @apply sm:text-5xl text-[38px] font-[600];
}

h3 {
  @apply text-4xl font-[600];
}

h4 {
  @apply sm:text-3xl text-[28px]  font-[600];
}

h5 {
  @apply sm:text-2xl text-[22px] font-[600];
}

span {
  @apply inline-block;
}

/* Reset input autofill background */
input:-webkit-autofill {
  background: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

.content-wrapper {
  @apply lg:max-w-[1050px] sm:max-w-[690px] max-w-[315px]  sm:w-screen sm:py-20 py-10 mx-auto;
}

.hover-scale {
  @apply scale-100 transition-all ease-in-out duration-300 hover:scale-95 cursor-pointer;
}

.flip-clock-mobile {
  --fcc-flip-duration: 0; /* transition duration when flip card */
  --fcc-spacing: 8px; /* space between unit times and separators */
  --fcc-digit-block-width: 35px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-block-radius: 5px; /* border radius of digit card */
  --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
  --fcc-digit-font-size: 25px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 10px; /* font size of label */
  --fcc-label-color: #ffffff; /* color of label */
  --fcc-background: black; /* background of digit card */
  --fcc-divider-color: white; /* color of divider */
  --fcc-divider-height: 0px; /* height of divider */
  --fcc-separator-size: 5px; /* size of colon */
  --fcc-separator-color: white; /* color of colon */
}

.flip-clock-tablet {
  --fcc-flip-duration: 0; /* transition duration when flip card */
  --fcc-spacing: 8px; /* space between unit times and separators */
  --fcc-digit-block-width: 30px; /* width of digit card */
  --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
  --fcc-digit-block-radius: 5px; /* border radius of digit card */
  --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
  --fcc-digit-font-size: 30px; /* font size of digit */
  --fcc-digit-color: white; /* color of digit */
  --fcc-label-font-size: 10px; /* font size of label */
  --fcc-label-color: #ffffff; /* color of label */
  --fcc-background: black; /* background of digit card */
  --fcc-divider-color: white; /* color of divider */
  --fcc-divider-height: 0; /* height of divider */
  --fcc-separator-size: 6px; /* size of colon */
  --fcc-separator-color: white; /* color of colon */
}
